engine-strict=true
package-manager=pnpm@9.12.3
lockfile=true
use-lockfile=true
prefer-frozen-lockfile=false
shamefully-hoist=false
store-dir=.pnpm-store
virtual-store-dir=node_modules/.pnpm
ignore-workspace-root-check=false